<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
</head>
<body><h1>聊天室</h1> <textarea id="chat_content" readonly="readonly" cols="100" rows="9"> </textarea> <br> 用户：<input
        type="text" id="user_name" value="" name="userName"/>
<button id="btn_join">加入聊天室</button>
<button id="btn_exit">退出聊天室</button>
<br> 消息：<input type="text" id="send_text" value="" name="sendText"/>
<button id="btn_send">发送</button>
</body>
</html>
<script> $(function () {
    var prefixUrl = 'ws://127.0.0.1:8080/websocket/';
    var ws;
    //WebSocket连接对象
    // 判断当前浏览器是否支持WebSocket
    if (!('WebSocket' in window)) {
        alert('Not support websocket');
    }
    $('#btn_join').click(function () {
        var userName = $('#user_name').val();
        //创建WebSocket连接对象
        ws = new WebSocket(prefixUrl + userName);
//连接成功建立的回调方法
        ws.onopen = function (event) {
            console.log('建立连接')
        }
//接收到消息的回调方法
        ws.onmessage = function (event) {
            console.log('接收到内容：' + event.data)
            $('#chat_content').append(event.data + '\n')
        }
        //连接发生错误的回调方法
        ws.onerror = function (event) {
            console.log('发生错误')
        }
//连接关闭的回调方法
        ws.onclose = function (event) {
            console.log('关闭连接')
        }
    })
//发送消息
    function sendMessage(message) {
        ws.send(message);
    }

//关闭连接
    function closeWebSocket() {
        ws.close();
    }

//监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        wx.close();
    }
//发送消息
    $('#btn_send').click(function () {
        sendMessage($('#send_text').val())
    })
//点击退出聊天室
    $('#btn_exit').click(function () {
        closeWebSocket();
    })
}) </script>

